node_modules
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
logs
*.log

.pnp
.pnp.js

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
# misc
.env.local
.env.development.local
.env.test.local
.env.production.local


#angular
# Compiled output
/angular/dist
/angular/tmp
/angular/out-tsc
/angular/bazel-out

# Miscellaneous
/angular/.angular/cache
/angular/.sass-cache/
/angular/connect.lock
/angular/coverage
/angular/libpeerconnection.log
/angular/testem.log
/angular/typings

#react
# testing
/react-components/coverage

# production
/react-components/build

#vue
/vue/.dist
/vue/dist-ssr
/vue/coverage
/vue/*.local

/vue/cypress/videos/
/vue/cypress/screenshots/